CREATE OR REPLACE FUNCTION public.fuel_set_status(
  _request_id uuid,
  _to_status public.fuel_status,
  _reason text DEFAULT NULL,
  _metadata jsonb DEFAULT '{}'::jsonb
) RETURNS jsonb
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $$
DECLARE
  _req RECORD;
  _uid uuid := auth.uid();
  _allowed jsonb;
  _valid_targets jsonb;
  _has_active_approval boolean := false;
  _sector_id uuid;
  _reviewer uuid;
  _pending_return RECORD;
BEGIN
  SELECT * INTO _req FROM public.fuel_requests WHERE id = _request_id FOR UPDATE;
  IF NOT FOUND THEN RETURN jsonb_build_object('error', 'SolicitaÃ§Ã£o nÃ£o encontrada'); END IF;

  IF _req.type = 'diaria' THEN
    _allowed := '{
      "rascunho":["enviado"],
      "enviado":["em_revisao"],
      "em_revisao":["em_aprovacao","retornado"],
      "em_aprovacao":["aprovado","retornado","reprovado"],
      "retornado":["enviado"],
      "aprovado":["aguardando_oc"],
      "aguardando_oc":["aguardando_pagamento"],
      "aguardando_pagamento":["pago"],
      "pago":["concluido"],
      "reprovado":["encerrado"],
      "ativa":["encerrado","em_revisao"]
    }'::jsonb;
  ELSIF _req.type = 'reembolso' THEN
    _allowed := '{
      "rascunho":["enviado"],
      "enviado":["em_aprovacao"],
      "em_aprovacao":["aprovado","retornado","reprovado"],
      "retornado":["enviado"],
      "aprovado":["concluido"],
      "reprovado":["encerrado"]
    }'::jsonb;
  ELSE
    _allowed := '{
      "rascunho":["enviado"],
      "enviado":["em_aprovacao"],
      "em_aprovacao":["aprovado","retornado","reprovado"],
      "retornado":["enviado"],
      "aprovado":["aguardando_fotos"],
      "aguardando_fotos":["em_revisao_admin"],
      "em_revisao_admin":["concluido","retornado"],
      "reprovado":["encerrado"]
    }'::jsonb;
  END IF;

  _valid_targets := _allowed -> _req.status::text;
  IF _valid_targets IS NULL OR NOT _valid_targets ? _to_status::text THEN
    RETURN jsonb_build_object('error', format('TransiÃ§Ã£o de %s para %s nÃ£o permitida', _req.status, _to_status));
  END IF;

  -- HARD LOCK: cannot bypass approval engine for approve/return/reject
  IF _to_status IN ('aprovado'::fuel_status, 'retornado'::fuel_status, 'reprovado'::fuel_status) THEN
    SELECT EXISTS (
      SELECT 1 FROM public.approval_requests
      WHERE reference_id = _request_id AND ended_at IS NULL
    ) INTO _has_active_approval;

    IF _has_active_approval THEN
      RETURN jsonb_build_object('error',
        'Esta solicitaÃ§Ã£o possui fluxo de aprovaÃ§Ã£o ativo. Use o motor de aprovaÃ§Ã£o para aprovar, recusar ou devolver.');
    END IF;

    IF NOT (has_role(_uid, 'diretoria') OR has_role(_uid, 'administrativo')) THEN
      RETURN jsonb_build_object('error', 'Sem permissÃ£o');
    END IF;
  END IF;

  -- Other permission checks
  IF _to_status IN ('enviado') THEN
    IF _req.requester_user_id != _uid THEN
      RETURN jsonb_build_object('error', 'Apenas o solicitante pode enviar');
    END IF;
  ELSIF _to_status IN ('em_aprovacao', 'em_revisao') THEN
    IF NOT (has_role(_uid, 'diretoria') OR has_role(_uid, 'administrativo')) THEN
      RETURN jsonb_build_object('error', 'Sem permissÃ£o');
    END IF;
  ELSIF _to_status = 'em_revisao_admin' THEN
    IF _req.requester_user_id != _uid THEN
      RETURN jsonb_build_object('error', 'Apenas o solicitante pode submeter fotos');
    END IF;
  ELSIF _to_status IN ('aguardando_oc', 'aguardando_pagamento', 'pago', 'concluido', 'encerrado') THEN
    IF NOT (has_role(_uid, 'diretoria') OR has_role(_uid, 'administrativo')) THEN
      IF _req.requester_user_id != _uid THEN
        RETURN jsonb_build_object('error', 'Sem permissÃ£o para concluir');
      END IF;
    END IF;
  ELSIF _to_status = 'ativa' THEN
    IF NOT (has_role(_uid, 'diretoria') OR has_role(_uid, 'administrativo')) THEN
      RETURN jsonb_build_object('error', 'Sem permissÃ£o');
    END IF;
  END IF;

  UPDATE public.fuel_requests SET status = _to_status WHERE id = _request_id;

  -- =========================================================
  -- ATOMIC: assign reviewer when moving to 'enviado'
  -- =========================================================
  IF _to_status = 'enviado' THEN
    SELECT sector_id INTO _sector_id FROM public.profiles WHERE id = _req.requester_user_id;
    IF _sector_id IS NOT NULL THEN
      SELECT responsible_user_id INTO _reviewer
        FROM public.sectors WHERE id = _sector_id AND active = true LIMIT 1;
      IF _reviewer IS NOT NULL THEN
        UPDATE public.fuel_requests
          SET assigned_to_user_id = _reviewer
          WHERE id = _request_id;
      END IF;
    END IF;

    -- Resume any approval_request that was returned to the requester
    SELECT id, current_step_order INTO _pending_return
      FROM public.approval_requests
      WHERE reference_id = _request_id
        AND ended_at IS NULL
        AND status = 'returned_to_requester'
      ORDER BY created_at DESC LIMIT 1;
    IF _pending_return.id IS NOT NULL THEN
      UPDATE public.approval_requests
        SET status = 'awaiting_step_' || _pending_return.current_step_order
        WHERE id = _pending_return.id;
      -- Also flip fuel_request to em_aprovacao so it leaves 'enviado'
      UPDATE public.fuel_requests
        SET status = 'em_aprovacao'::fuel_status
        WHERE id = _request_id;
      INSERT INTO status_history (module, entity_type, entity_id, from_status, to_status, changed_by)
        VALUES ('fleet', 'fuel_requests', _request_id, _to_status::text, 'em_aprovacao', _uid);
    END IF;
  END IF;

  -- Track review metadata
  IF _to_status = 'em_revisao' AND _metadata ? 'review_notes' THEN
    UPDATE public.fuel_requests SET reviewed_by = _uid, reviewed_at = now(), review_notes = _metadata->>'review_notes' WHERE id = _request_id;
  END IF;
  IF _to_status = 'aguardando_pagamento' AND (_metadata ? 'oc_number' OR _metadata ? 'oc_notes') THEN
    UPDATE public.fuel_requests SET oc_number = COALESCE(_metadata->>'oc_number', oc_number), oc_notes = COALESCE(_metadata->>'oc_notes', oc_notes), oc_uploaded_by = _uid, oc_uploaded_at = now() WHERE id = _request_id;
  END IF;
  IF _to_status = 'pago' THEN
    UPDATE public.fuel_requests SET paid_at = now(), paid_by = _uid, payment_notes = COALESCE(_metadata->>'payment_notes', payment_notes), payment_due_date = CASE WHEN _metadata ? 'payment_due_date' THEN (_metadata->>'payment_due_date')::date ELSE payment_due_date END WHERE id = _request_id;
  END IF;

  INSERT INTO public.status_history (module, entity_type, entity_id, from_status, to_status, changed_by)
    VALUES ('fleet', 'fuel_requests', _request_id, _req.status::text, _to_status::text, _uid);

  INSERT INTO public.audit_logs (user_id, action, entity_type, entity_id, details)
    VALUES (_uid, 'status_change', 'fuel_requests', _request_id::text,
      jsonb_build_object('from', _req.status, 'to', _to_status, 'reason', _reason, 'type', _req.type) || _metadata);

  IF _to_status IN ('aprovado', 'retornado', 'reprovado', 'concluido', 'encerrado') THEN
    INSERT INTO public.fuel_reviews (fuel_request_id, reviewer_user_id, decision, reason)
    VALUES (_request_id, _uid,
      CASE
        WHEN _to_status IN ('aprovado', 'concluido') THEN 'approved'::review_decision
        WHEN _to_status = 'retornado' THEN 'needs_revision'::review_decision
        ELSE 'rejected'::review_decision
      END, _reason);
  END IF;

  IF _req.requester_user_id != _uid THEN
    INSERT INTO public.notifications (user_id, title, message, metadata)
    VALUES (_req.requester_user_id, 'SolicitaÃ§Ã£o atualizada',
      format('Sua solicitaÃ§Ã£o foi movida para: %s', _to_status::text),
      jsonb_build_object('entity_type', 'fuel_requests', 'entity_id', _request_id, 'status', _to_status));
  END IF;

  IF _to_status = 'enviado' THEN
    INSERT INTO public.notifications (user_id, title, message, metadata)
    SELECT ur.user_id, 'Nova solicitaÃ§Ã£o recebida',
      format('Nova solicitaÃ§Ã£o de %s aguardando encaminhamento', _req.type),
      jsonb_build_object('entity_type', 'fuel_requests', 'entity_id', _request_id, 'status', _to_status)
    FROM public.user_roles ur
    WHERE ur.role IN ('diretoria', 'administrativo') AND ur.user_id != _uid;
  END IF;

  IF _to_status = 'em_aprovacao' THEN
    INSERT INTO public.notifications (user_id, title, message, metadata)
    SELECT ur.user_id, 'SolicitaÃ§Ã£o aguardando aprovaÃ§Ã£o',
      format('SolicitaÃ§Ã£o de %s encaminhada para sua aprovaÃ§Ã£o', _req.type),
      jsonb_build_object('entity_type', 'fuel_requests', 'entity_id', _request_id, 'status', _to_status)
    FROM public.user_roles ur WHERE ur.role = 'diretoria' AND ur.user_id != _uid;
  END IF;

  IF _to_status = 'em_revisao_admin' THEN
    INSERT INTO public.notifications (user_id, title, message, metadata)
    SELECT ur.user_id, 'Fotos enviadas para revisÃ£o',
      'Colaborador enviou hodÃ´metro e nota fiscal para conferÃªncia',
      jsonb_build_object('entity_type', 'fuel_requests', 'entity_id', _request_id, 'status', _to_status)
    FROM public.user_roles ur
    WHERE ur.role IN ('diretoria', 'administrativo') AND ur.user_id != _uid;
  END IF;

  RETURN jsonb_build_object('success', true, 'status', _to_status);
END;
$$;
